@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
 * {
    
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Mulish', sans-serif;
    background-color: black;
 }

 .body {
    background-color: black;
 }

 .container {
    display: inline;
 }
 .navigation {
    border: 0.1px solid rgb(86, 84, 84);
    width: 100%;
    height: 10vh;
 }

 .nav-one img {
    width: 50px;
    margin: 25px 0px 10px 150px ;
 }

 .nav-two p {
         font-size: 40px;
         color: gray;
         margin: -50px 0px 0px 220px;
 }

 .nav-two h2 {
    font-size: 30px;
    color: white;
    margin: -42px 0px 0px 250px;
    font-family: 'Mulish', sans-serif;
}

.one-one button {
        margin: 100px;
        padding: 5px 5px 5px 5px;
        font-size: 18px;
        width: 120px;
        border-radius: 20px;
        border-color: white;
}

.one-two h3 {
    font-size: 50px;
    font-family: 'Mulish', sans-serif;
    margin: -80px;
}

.one-three h3 {
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: rgb(126, 136, 148);
    margin: 100px;
}

.form-box {
    border: 0.1px solid rgb(86, 84, 84);
    width: 56%;
    height: 200vh;
    border-radius: 20px;
    background-color: rgb(9, 13, 18);
    margin: 0px 0px 130px 22%;
}

.form-box h3 {
   font-size: 15px;
   margin: 100px;
}

.one-label {
   margin: -50px 5px 5px 20px;
}
.one-input {
   margin: -10px 5px 5px 155px;
}
.one-input p {
   margin: -21px 5px 5px 22px;
}


.form-two-label h4 {
    margin-bottom: 20px;
   }
   
.form-two-label {
margin: 60px 5px 5px 155px;
 
}

.form-three-label h4 {
   margin: 30px 5px 0px 155px;
   }
.form-three-label input {
 margin: 0px 0px 5px 155px;
      padding: 5px 310px 5px 10px;
      font-size: larger;
      border: 0.1px solid rgb(86, 84, 84);
      border-radius: 10px;
      
      }

      .form-four-label h4 {
         margin: 30px 5px 0px 155px;
         }
         .form-four-label input {
            margin: 0px 0px 5px 155px;
            padding: 5px 310px 5px 10px;
            font-size: larger;
            border: 0.1px solid rgb(86, 84, 84);
            border-radius: 10px;
            
            }
            .form-five-label h4 {
               margin: 30px 5px 0px 155px;
               }
               .form-five-label input {
                  margin: 0px 0px 5px 155px;
                  padding: 5px 310px 5px 10px;
                  font-size: larger;
                  border: 0.1px solid rgb(86, 84, 84);
                  border-radius: 10px;
                  
                  }
                  .form-six-label h4 {
                     margin: 30px 5px 0px 155px;
                     }
                     .form-six-label input {
                        margin: 0px 0px 5px 155px;
                        padding: 5px 310px 100px 10px;
                        font-size: larger;
                        border: 0.1px solid rgb(86, 84, 84);
                        border-radius: 10px;
                        
                        }
                        .form-seven-label h4 {
                           margin: 30px 100px 0px 155px;
                           }
                           .form-seven-label input {
                              margin: 0px 0px 5px 155px;
                              padding: 5px 310px 5px 10px;
                              font-size: larger;
                              border: 0.1px solid rgb(86, 84, 84);
                              border-radius: 10px;
                              
                              }
                         
                              .form-eight-label h4 {
                                 margin: 50px 100px 10px 150px;
                              }

                              .eight-input {
                                 margin: 0px 100px 10px 150px;
                              }
                              .eight-input p {
                                 margin: -20px 100px 10px 30px;
                              }
                               
                              .register-button button {
                                 font-weight: 600;
                                 background-color: white;
                                 color: black;
                                 font-size: 20px;
                                 padding: 10px 100px 10px 100px;
                                 border-radius: 10px;
                                 margin: 50px 0px 10px 400px;
                              }
                        

                             













.footer-one  {
    border: 0.1px solid rgb(86, 84, 84);
    width: 100%;
    height: 18vh;
 }
 .footer-two {
    border: 0.1px solid rgb(86, 84, 84);
    width: 100%;
    height: 18vh;
 }
 .footer-one h3 {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    margin: 50px 0px 0px 120px;

 }

 .footer-two {
    display: inline;
 }

 .footer-two h3 {
    font-size: 17px;
    color: rgb(126, 136, 148);
    font-family: 'Mulish', sans-serif;
    margin: 30px 0px 30px 120px;
 }

 .footer-three  {
    margin: -50px 0px 40px 1140px;
 }
.footer-three li{
    display: inline;
}

.footer-three a {
    font-size: 17px;
    color: rgb(126, 136, 148);
    font-family: 'Mulish', sans-serif;
    margin-left: 20px;
    text-decoration: none;

}